.navLinkHover {
    padding: 10px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    border-radius: 7px; /* Adjust as needed */
}

.navLinkHover:hover {
    background-color: #1E90FF80;
    transform: scale(1.1);
    transition-duration: 0.5s;
;
;
}